.kk-header {
  text-align: center;
  height: 100px;
  width:  100%;
  background-image: url('../assets/images/header-bg.svg');
  z-index: $z-header;
  position: absolute;

  @media only screen and (min-width: $md-768) {
    position: relative;
  }
}

.kk-logo {
  width: 200px;
  height: 83px;
}