html {
  position: relative;
  min-height: 100%;
}

body {
  //sticky footer
  margin-bottom: 110px;
}

.content-area {
  margin-top: 120px;

  @media only screen and (min-width: $md-768) {
    margin-top: 0px;
  }
}